/* ------------------------------------------------块引用/引用块------------------------------------------------- */

/* 设置引用块格式 */
.protyle-wysiwyg [data-node-id] span[data-type='block-ref'] {
    color: var(--b3-theme-on-background);
    border-radius: 4px;
    text-decoration: 0.1em solid #80808080 underline;
    text-underline-offset: 0.1em;
}

.protyle-wysiwyg [data-node-id] span[data-type='block-ref']:hover {
    background-color: #f7f7f7;
}

.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]::before {
    content: "";
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    background-image: url('../../src/page.svg');
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
    margin-left: 5px;
    top: 0.17em;
}

/* 去掉h1-h6标题上块引用的下划线 */
div[data-type="NodeHeading"] span[data-type='block-ref'] {
    text-decoration: 0.1em solid transparent underline !important;
}

/* ------------------------------------------------块引用 END------------------------------------------------- */