/* -------------------------------------------------高亮----------------------------------------------- */
/* 编辑区域高亮样式增加下划线 */
.b3-typography mark,
.b3-typography span[data-type~=mark],
.protyle-wysiwyg mark,
.protyle-wysiwyg span[data-type~=mark] {
    border-radius: 0px;
    margin: 0px 0px;
    border-bottom: 0.1em solid var(--b3-font-color3);
}

/* 搜索框中的高亮样式不带下划线 */
.b3-dialog__container mark {
    border-bottom-width: 0px;
}

/* 搜索高亮 */
.protyle-wysiwyg [data-node-id] span[data-type="search-mark"] {
    outline: 1px solid var(--b3-theme-on-background);
    color: var(--b3-theme-on-background) !important;
    background-color: transparent !important;
    border-radius: 0px;
}

/* -------------------------------------------------高亮 END----------------------------------------------- */