/* ------------------------------------------标签 tag--------------------------------------------- */
.protyle-wysiwyg [data-node-id] span[data-type='tag']:not(:empty) {
    color: var(--b3-theme-on-background);
    /* background-color: rgba(119, 25, 170, 0.1); */
    background-color: #ebebeb;
    border-color: transparent !important;
    border-radius: 1px;
    padding: 1px 3px 1px 1px;
    /* margin-right: 4px;
    margin-left: 4px; */
}

.protyle-wysiwyg [data-node-id] span[data-type="tag"] {
    border-bottom: none;
}

/* ————————————————————标签#号———————————————————— */
.protyle-wysiwyg [data-node-id] span[data-type='tag']:not(:empty)::before {
    content: "★";
    color: #ed8733;
}