/* ————————————————————设置界面颜色———————————————————— */
/* 设置界面侧栏 */
.b3-dialog--open .b3-dialog__container ul.b3-tab-bar.b3-list.b3-list--background {
    background-color: #fafbfc !important;
    border-right: 1px solid var(--b3-border-color);
}

/* 设置界面侧栏文字和图标颜色与主色保持一致 */
li.b3-list-item--focus.b3-list-item.b3-list-item--big,
li.b3-list-item--focus.b3-list-item.b3-list-item--big svg.b3-list-item__graphic {
    color: var(--b3-theme-primary);
}

/* 设置界面右栏 */
.b3-dialog--open .b3-dialog__container .b3-tab-container {
    background-color: white !important;
}

/* 搜索界面标签页中文字居中 */
.b3-dialog--open .b3-dialog__container span.item__text {
    padding: 4px !important;
}

/* 给设置界面选择的地方加上边框 */
.b3-dialog--open .b3-dialog__container .b3-select {
    border: 1px solid var(--b3-border-color1);
}




.fn__flex-center.fn__flex-1.ft__on-surface {
    overflow: hidden;
}

/* 为“打开主题文件夹”的按钮文字设置为蓝色 */
a#appearanceOpenTheme,
a#appearanceOpenIcon {
    color: rgb(81, 81, 253);
}


a#appearanceOpenTheme:hover,
a#appearanceOpenIcon:hover {
    text-decoration: none;
    background-color: rgb(100, 100, 255, 0.1);
}

/* ————————————————————账号-续订价格那里的设置———————————————————— */
.config-account__center--text .b3-button--outline:hover {
    color: inherit;
    background-color: inherit;
}



/* 取消集市里边主题预览图鼠标悬浮时的动画 */
.b3-card:hover {
    background-color: var(--b3-theme-background) !important;
    box-shadow: none;
    transform: none !important;
}

.b3-card {
    box-shadow: none;
    border: 1px solid var(--b3-border-color1);
}


/* 设置对话框级别 */
.config-bazaar__readme {
    z-index: 2;
}

/* 调整集市中下载按钮"↓"的颜色 */
.b3-card svg.svg.fn__flex-center {
    color: #80808080;
}