/* 调整列表前小竖线位置 */
.protyle-wysiwyg [data-node-id].li>[data-node-id]:before {
    content: "";
    position: absolute;
    border-left: 0.1em solid #ededed;
    top: 4px;
    left: -18px;
    z-index: 3;
}

/* 调整列表中代码块左边小竖线的位置 */
.protyle-wysiwyg [data-node-id].li>[data-node-id].code-block {
    margin-left: 32.5px !important;
}

/* ---------------------给有颜色背景的块设置前面无序列表的样式---------------- */
.list[style*="background-color: var(--b3-font-background"] .li>:before {
    border-color: #00000033 !important;
}

/* ————————————————————缩短嵌入块中小竖线的高度———————————————————— */
.render-node div.list:before {
    top: -10px !important;
}

/* ----------------------------------无序列表和有序列表前面的符号--------------------------------------- */
/* -------------------------列表悬浮------------------------ */
/* 大圆背景 */
.protyle-wysiwyg [data-node-id].li>.protyle-action:hover:after {
    background-color: rgba(34, 34, 34, 0.2) !important;
    border-radius: var(--b3-border-radius-half-round);
}

/* 小圆点颜色 */
.protyle-wysiwyg [data-node-id].li>.protyle-action:hover {
    color: var(--b3-theme-primary) !important;
}

/* -------------------------列表悬浮 END------------------------ */
/* -------------------------列表折叠------------------------ */
/* 大圆背景 */
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action:after {
    background-color: rgba(34, 34, 34, 0.2) !important;
    border-radius: var(--b3-border-radius-half-round);
}

.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action--task::after {
    border-radius: 0px;
}

/* 小圆点颜色 */
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action {
    color: var(--b3-theme-primary) !important;
}

/* 修改集市里边无序列表前小圆点颜色 */
::marker {
    color: var(--b3-font-color-gray);
}

/* 调整集市里边文字行高，大一点看着好看 */
.item__readme.b3-typography {
    line-height: 2;
    padding: 5px;
    text-align: left;
}

/* ——————————————————————去除无序列表底部外边距———————————————————— */
/* .protyle-wysiwyg [data-node-id].li>[data-node-id] {
    margin-bottom: 0px;
} */

/* ————————————————————减小前面符号·的大小———————————————————— */
/* .list[data-node-id][data-type="NodeList"] .protyle-action>svg {
    width: 11px;
} */

/* 将列表中的表格设置左边距，向右移，防止和·重合，影响观看 */


.list[custom-f="bg"] div.table {
    padding: 10px 4px 10px 20px;
    display: table;
    width: 100%;
}

/* -------------------------列表折叠 END------------------------ */
/* ----------------------------------列表 END--------------------------------------- */

/* —————————————————————完成的待办事项删除线样式和颜色（包括字体样式）——————————————————————— */
/* .li.protyle-task--done .p {
    text-decoration: line-through;
    color: #55555a3f;
} */

/* 来自于light-blue主题，好处是完成待办事项，子级待办事项不会有删除线 */
.protyle-task--done>.p {
    text-decoration: line-through;
    color: #55555a3f;
}



/* 将默认的待办事项方框透明度设置为0 */
.protyle-wysiwyg [data-node-id].li>.protyle-action--task svg {
    opacity: 0;
}

/* 鼠标悬浮时设置为透明，否则会有灰色圆形出现 */
.protyle-wysiwyg [data-node-id].li>.protyle-action--task:hover:after {
    background-color: transparent !important;
    opacity: 0 !important;
}



/* 设置待办事项样式 */
.protyle-action--task:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border: 0.1em solid #74aec2;
    background-color: transparent;
}

.protyle-task--done>.protyle-action::before {
    background-image: url(../../src/dui.svg);
    background-position: -1.5px -1px;
    background-repeat: no-repeat;
}